.advanced-filter-modal-body {
  overflow-y: auto; /* Scroll only when necessary */
  height: calc(90vh - 120px); /* Example calculation considering header and footer heights */
  background-color: #222222;
  color: white;
}

.advanced-filter-modal-header {
  background-color: #222222;
  color: white;
}

.modal-footer.advanced-filter-modal-footer {
  background-color: #222222;
}

.nav-tabs .nav-link.active {
  background-color: #444444;
  border-color: #555555 #555555 #222222;
  color: white;
}

.nav-tabs .nav-link {
  color: white;
}

.nav-tabs {
  border-bottom: 1px solid #555555;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sliding-checkbox {
  position: relative;
  width: 60px;
  height: 34px;
}

.sliding-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliding-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.sliding-checkbox::after {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.sliding-checkbox input:checked + .sliding-checkbox::before {
  background-color: #2196F3;
}

.sliding-checkbox input:checked + .sliding-checkbox::after {
  transform: translateX(26px);
}

