.comparison-modal {
    width: 80vw;                /* Set the width to 80% of the viewport width */
    margin: auto;               /* Center the modal horizontally */
    overflow: hidden;           /* Ensures no overflow from the modal itself */
}

.comparison-modal-body {
    overflow-y: auto;  /* Scroll only when necessary */
    max-height: calc(90vh - 120px); /* Example calculation considering header and footer heights */
    background-color:#222222;   
    color: white;
}


.comparison-modal-header {
    background-color:#222222;   
    color: white;
}
