.comparison-modal-body {
  overflow-y: auto; /* Scroll only when necessary */
  max-height: calc(
    90vh - 120px
  ); /* Example calculation considering header and footer heights */
  background-color: #222222;
  color: white;
}

.comparison-modal-header {
  background-color: #222222;
  color: white;
}

.modal-footer.comparison-modal-footer {
  background-color: #222222;
  color: white;
}

.playerChart {
  max-height: 500px !important;
  margin: 0 0;
}

.space_between {
  display: flex;
  justify-content: space-between; /* This will push the content to both edges */
  align-items: center; /* Aligns items vertically center */
  width: 100%; /* Ensure the container takes full width */
}

/* ComparisonModal.css */

.transparent-table {
  background-color: rgba(34, 34, 34, 0.5); /* Half transparent background */
}

.transparent-table thead th,
.transparent-table tbody td,
.transparent-table tbody th {
  background-color: rgba(34, 34, 34, 0.5); /* Ensure the transparency applies to all table cells */
  color: #ffffff; /* Ensure text is white */
  border-color: #444444; /* Ensure border color matches dark theme */
}

.transparent-table .stat-name {
  background-color: rgba(51, 51, 51, 0.5); /* Slightly highlighted left column */
}

.text-right {
  text-align: right;
}

.table-container {
  border: 1px solid #444444; /* Border around the table */
  padding: 10px;
  border-radius: 5px;
}

