span {
    color: white;
}

.player-comparison {
    height: 10vh;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly horizontally */
}
  
.player-info {
    height: 60px; /* Adjust height as needed */
    background-color: black;
    border: solid;
    border-radius: 10px;
    border-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-shrink: 0; /* Prevent shrinking */
    justify-content: space-between; /* Center content vertically */
    align-items: center; /* Center content vertically */
    
}

.btn-remove {
    margin-left: 10px; /* Space before the button */
}