.advanced-filter-modal-body {
  overflow-y: auto; /* Scroll only when necessary */
  height: calc(90vh - 120px); /* Example calculation considering header and footer heights */
  background-color: #222222;
  color: white;
}

.advanced-filter-modal-header {
  background-color: #222222;
  color: white;
}

.modal-footer.advanced-filter-modal-footer {
  background-color: #222222;
}

/* Custom styles for small toggle switch */
.form-switch .form-check-input {
  width: 34px;
  height: 24px;
  background-color: #ddd;
  border: none;
  border-radius: 34px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-switch .form-check-input::before {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.form-switch .form-check-input:checked {
  background-color: #007bff;
}

.form-switch .form-check-input:checked::before {
  transform: translateX(14px);
}

/* Additional styling for better alignment */
.sliding-checkbox {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

.form-check-label {
  margin-bottom: 0; /* Align the label vertically with the switch */
}