.player-modal-body {
    overflow-y: auto;  /* Scroll only when necessary */
    max-height: calc(90vh - 120px); /* Example calculation considering header and footer heights */
    background-color:#222222;   
    color: white;
}


.player-modal-header {
    background-color:#222222;   
    color: white;
}

.modal-footer.player-modal-footer {
    background-color: #222222;
    color: white;
}