.white {
    color: #F5F5F5;
}

.nav-tabs .nav-link {
    color: white;
  }
.nav-tabs .nav-link:hover {
    color: white;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding-left: 0!important;
}

a {
    color: #F5F5F5 !important;
    text-decoration: none!important;
}

.box {
    border: solid;
    border-width: 2px;
    border-color: #222222;
    background-color:#222222;
    border-radius: 10px;
    padding: 10px;
}

.blur-background {
    filter: blur(10px);
}

html body .container {
    max-width: 1800px; /* This is more specific than just .container */
}

.box2 {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Adjusts rows size, 1fr takes the remaining space */
    height: 100%; /* Optional: Ensure the container fills the parent height */
}


.sidebar-btn {
    width: 50%; 
    height: 100%; 
    font-size: 48px!important; /* Adjust as needed */
    font-weight: bold;
    padding: 0;
    color: #e7e7e7!important;
    background-color: #222222!important; /* Example color, adjust as needed */
}
.sidebar-btn:hover {
    color: #ffffff!important;
    background-color: #444444!important; /* Example hover color, adjust as needed */
    outline: none; /* Optionally remove focus outline for custom styling */
}