.white {
    color: #F5F5F5;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding-left: 0!important;
}

a {
    color: #F5F5F5 !important;
    text-decoration: none!important;
}

.player-list {
    color: orange;
    height: 70vh; /* Adjust based on your header/nav size */
    overflow-y: auto; /* Enables vertical scrolling */
    -webkit-overflow-scrolling: touch; /* For momentum scrolling on iOS devices */
}

.player-row {
    font-size: 24px;
    color: white;
    border: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    margin-bottom: 10px;
    margin-right: 6px;
    padding: 6px;
    background-color: black;
    cursor: pointer;
}

.player-row:hover {
    border-color: #1e1e1e;
    background-color: #1e1e1e;
}

.box {
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
}

.blur-background {
    filter: blur(10px);
}