.white {
    color: #F5F5F5;
}

.nav-tabs .nav-link {
    color: white;
  }
.nav-tabs .nav-link:hover {
    color: white;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding-left: 0!important;
}

a {
    color: #F5F5F5 !important;
    text-decoration: none!important;
}

.box {
    border: solid;
    border-width: 2px;
    border-color: #222222;
    background-color:#222222;
    border-radius: 10px;
    padding: 10px;
}

.blur-background {
    filter: blur(10px);
}

html body .container {
    max-width: 1800px; /* This is more specific than just .container */
}