.player-list {
    color: orange;
    height: 60vh; /* Adjust based on your header/nav size */
    overflow-y: auto; /* Enables vertical scrolling */
    border-radius: 10px;
    -webkit-overflow-scrolling: touch; /* For momentum scrolling on iOS devices */
}

.player-row {
    font-size: 24px;
    color: white;
    border: solid;
    border-color: #444444;
    border-radius: 10px;
    border-width: 2px;
    margin-bottom: 10px;
    margin-right: 6px;
    padding: 6px;
    background-color:  #444444;
    cursor: pointer;
}

.player-row:hover {
    border-color: #666666;
    background-color: #666666;
}