.filter-modal-body {
    max-height: 100vh; /* Example calculation considering header and footer heights */
    background-color:#222222;   
    color: white;
}


.filter-modal-header {
    background-color:#222222;   
    color: white;
}

.modal-footer.filter-modal-footer {
    background-color: #222222;
    color: white;
}

.filter-modal {
    background-color:#111111!important;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    width: 100%; /* Adjust this value to change the width of the sidebar */
    max-width: 400px; /* You can set a max-width if necessary */
    height: 100vh;
    margin: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

/* Only move the modal horizontally */
.filter-modal.show {
    transform: translateX(0%);
}

/* Override Bootstrap default modal opening animations */
.modal-dialog {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%) !important; /* Start off-screen */
}

.modal.show .modal-dialog {
    transform: translateX(0) !important; /* Enter screen view */
}

/*

.sidebar-transition {
    transition: width 0.5s ease-out; 
    overflow: hidden; 
    width: 100%; 
}

.sidebar-closed {
    width: 0; 
}

*/