.sidebar {
    height: 89vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition:  width 0.5s, opacity 0.5s, visibility 0.5s;
    margin-left: 5vb;
    margin-top: 2vh;
    opacity: 0;
    visibility: hidden;
    
}

/*
.sidebar.active {
    width: 50vb;
    transition: width 0.5s, opacity 0.5s, visibility 0.5s;
    opacity: 1;
    visibility: visible;
}
*/

.sidebar-transition {
    transition: width 0.5s ease-out; /* Adjust timing and easing to your preference */
    overflow: hidden; /* Prevents content from overflowing during transition */
    width: 100%; /* Default width */
}

.sidebar-closed {
    width: 0; /* Width is zero when sidebar is closed */
}

